html, body, hr, hd, h1, h2, h3, h4, h5,h6,td, tr, table, t, li,
ul, a, div, span, nav, strong{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 320px;
}

body {
    background: #F3F3F3;
    position: relative;
    min-height: 100vh;
}

ul, li {
    list-style: none;
}

li {
    float: left;
    margin-right: 30px;
}

#wrapper {
    position: relative;
}

.nav-wrapper {
    position: absolute;
    width: 100%;
    z-index: 9999;
    box-sizing: border-box;
    padding-top: 50px;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-around;
    background: transparent;
}

.n-item {
    margin-right: 30px;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    width: 90%;
    height: 35px;
    text-align: center;
    display: inline-block;
    position:relative;
    transition: all 0.5s ease;
    color: inherit;
}

.n-but::before {
    width:0;
    height:1px;
    content:" ";
    background-color:white;
    position:absolute;
    bottom:0;
    left:50%;

    transition: all 0.3s ease;
}

.n-but:hover {
    /* @extend .three:before; */
    letter-spacing:4px;
    color: white;
}

.n-but:hover:before {
    width: 98%;
    left: 0%;
}

#follow-but {
    position: absolute;
    width: 100px;
    height: 30px;
    top: 200px;
    left: -20px;
    transition: all 0.5s ease;
    z-index: 9998;
}

#follow-but:hover {
    transform: translateX(20px);
    transition: all 0.5s ease;
}

.content-top {
    position: relative;
    text-align: center;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    min-width: 320px;
}

#descriptions h1{
    color: white;
    padding-top: 350px;
    font-size: 4em;
}

#descriptions h2 {
    color: #B8B8BB;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 50px;
}


#background{
    position: absolute;
    top:0;
    left: 0;
    z-index: -2;
}

#descriptions h1::before {
    content: " ";
    position: absolute;
    bottom: 0;
    border-bottom: 5px solid #69CABB;
    width: 80px;
    z-index: -1;
}

#descriptions h1 {
    position: relative;
}

.join-us {
    color: white;
    border-radius: 20px;
    margin: 0px 0 180px 0;
    font-size: 1.5em;
    width: 120px;
    display: inline-block;
    padding: 2px 0 2px 0;
    overflow: hidden;
    box-shadow: 0 0px 1px 2px white;
    transition: all .5s ease;
}

.join-us-check {
    color: white;
    border-radius: 20px;
    margin: 0px 0 180px 0;
    font-size: 1.5em;
    width: 150px;
    display: inline-block;
    padding: 2px 0 2px 0;
    overflow: hidden;
    box-shadow: 0 0px 1px 2px white;
    transition: all .5s ease;
}

.four-cells {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 100px 0 100px;
}


.cells a{
    display: block;
}

.cells {
    background: white;
    border: none;
    border-radius: 13px;
    width: 250px;
    min-height: 280px;
    height: 100%;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: "Arial Rounded MT Bold",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin-bottom: 60px;

    transition: transform 0.5s ease;
}
.cells h1 {
    padding-top: 40px;
}

.cells p {
    padding: 0 25px;
    font-size: 13px;
    line-height: 30px;
    text-align: left;
    opacity: 0.6;
}

.learn-more-but {
    position: absolute;
    display: inline-block;
    bottom: -20px;
    left: 24%;
    border-radius: 16px;
    background: #69CABB;
    box-sizing: border-box;
    color: white;
    padding: 10px 10px;
}

.learn-more-but:hover {
    cursor: pointer;
    transition: all 1s ease;
}

.latest {
    background: white;
    min-height: 800px;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 50px 10% 0 10%;
    flex-direction: column;
    min-width: 320px;
}

.nav-scroll {
    width: 100%;
    position: fixed;
    z-index: 9999;
    box-sizing: border-box;
    padding: 10px 0;
    background: white;
    color: #313D40;
    transition: background .5s ease;
}

.nav-scroll a {
    line-height: 40px;
}

.nav-scroll a:hover {
    color: #313D40;
}

.nav-scroll a:before {
    background: #313D40;
}

.active {
    color: #69CABB;
}

.latest h1 span {
    color: #69CABB;
    margin-right: 10px;
    font-size: 1.5em;
}

.latest h1 {
    font-size: 3em;
    color: #313D40;
}

.latest-news {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 200px;
}

#nav-items-mobile {
    display: none;
}

.news {
    opacity: 0;
}

.news-view {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 47%;
    height: 100%;
    margin-bottom: 50px;
    opacity: 1;
    border-radius: 10px;
    position: relative;
    font-family: "Arial Rounded MT Bold",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin-bottom: 60px;
    transition: opacity 2s linear;
}

.news-view h5 {
    opacity: 0.4;
}

.news-content {
    box-sizing: border-box;
    padding-left: 30px;
}

#latest-title {
    margin-bottom: 30px;
}

.news-view p {
    line-height: 30px;
    margin-bottom: 100px;
}

.news-view span{
    position: absolute;
    bottom: 25px;
    left: 30px;
    width: 130px;
    height: 40px;
    border-radius: 16px;
    line-height: 40px;
    text-align: center;
    color: white;
    background: #69CABB;
}

.news-view span:hover {
    cursor: pointer;
}

footer {
    color: white;
    background: #262E30;
    height: 180px;
    display: flex;
    justify-content: space-around;
}

.f-resources {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 30px 40px;
    width: 80%;
    position: relative;
}

.f-resources h5{
    padding-top: 5px;
    opacity: 0.9;
}

#contact-wrapper {
    box-sizing: border-box;
    padding: 200px 0;
    display: flex;
    justify-content: center;
    perspective: 800;
    position: relative;
}

.contact-info {
    height: 100%;
    background: white;
    box-sizing: border-box;
    width: 60%;
    text-align: center;
    font-family: "Arial Rounded MT Bold",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.contact-info h4 {
    opacity: 0.6;
}

.contact-info * {
    line-height: 50px;
}

.contact-info h2 {
    padding-top: 40px;
}

.inquiries span {
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 5px 10px;
}

.inquiries span:hover {
    cursor: pointer;
}

.inquiries h3 {
    padding-bottom: 20px;
}

.inquiries {
   box-sizing: border-box;
   padding-bottom: 50px;
}

#email_form {
    display: flex;
    justify-content: center;
}

#email, #name, #msg{
    display: block;
    line-height: 30px;
    color: #262E30;
    font-size: 15px;
    height: 30px;
    width: 500px;
    margin-bottom: 20px;
}

#msg {
    height: 200px;
    text-align: left;
    line-height: 15px;
}

#login-container {
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    padding-top: 200px;
    flex-direction: column;
}

#login {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 246px;
}

.user-in {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 250px;
    margin-bottom: 10px;
    font-size: 15px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(114, 114, 114);
    text-align: center;
}

.user-in:active {
    outline: 0;
}

#submit-btn {
    display: block;
    margin: 0 auto;
    border: 1px solid #262E30;
    border-radius: 16px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    background: none;
}

#submit-btn:hover {
    cursor: pointer;
}


.login-form {
    background: white;
    width: 100%;
    min-width: 400px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#forgot {
    margin: 0 auto;
    display: block;
    text-decoration: underline;
    opacity: 0.4;
    margin-bottom: 30px;
}

#l-title {
    box-sizing: border-box;
    padding: 20px 0;
    font-size: 2em;
    opacity: 0.7;
}

#forgot:hover {
    cursor: pointer;
}

#create:hover {
    cursor: pointer;
}

#create {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    opacity: 0.6;
    box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}