.signup {
    display: flex;
    flex-flow: column;
    padding: 20px 10% 20px 10%;
    font-weight: lighter;
    width: 100%;
}

/* .returning a {
    text-align: center;
    margin: 10px 0;
    width: 100%;
} */

.signup span {
    font-size: 1.2vmax;
}

.headers {
    font-weight: lighter;
    font-size: 3vmax;
}

.inputs {
    border: 0;
    outline: 0;
    width: 100%;
    border-bottom: 1px solid #969696;
    font-size: 1vmax;
    margin: 5px 0;
    padding-bottom: 10px;
}

.sbtn {
    margin: 20px 0;
    border: 0;
    outline: 0;
    background: #749FF2;
    color: white;
    width: 100%;
    padding: 10px 0;
    font-size: 1vmax;
}

.sbtn:hover {
    cursor: pointer;
}

.error {
    background: #fd7f69;
}

.warning {
    background: #ffe77e;
}

.auth {
    background: #beff81;
}

.returnbtn {
    text-align: center;
    text-decoration: underline;
    color: rgb(23, 131, 255);
}

.returnbtn:hover {
    cursor: pointer;
}

@media (max-width: 740px) {
    .headers {
        text-align: center;
    }
    .signup span, .inputs {
        font-size: 16px;
    }
    .signup *{
        margin: 5px 0;
    }
    .sbtn {
        font-size: 2vmax;
        margin: 20px 0;
    }
}