.question {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
}

.progresscontainer {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 30px;
}

.helptext {
    max-width: 300px;
    border: 1px solid rgb(207, 207, 207);
    padding: 10px 20px;
}

.selection {
    display: flex;
    flex-flow: column;
    background: white;
    width: 100%;
    padding: 20px 20px;
    margin: 0 10px 10px 0;
}

.subject {
    margin: 3px 0;
    border-radius: 16px;
    padding: 5px 5px;
    text-align: center;
    border: 1px solid #141b2275;
}

.choicelabel {
    border-radius: 16px;
    margin: 10px 0;
    background: rgb(65, 157, 255);
    max-width: 200px;
    color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.alldone {
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 0 20px;
}

.retrybtn {
    padding: 10px 20px;
    margin: 10px 0;
    background: white;
    border: 1px solid rgb(216, 216, 216);
    outline: none;
}

.choice {
    display: none;
}

.nextbtn {
    background: rgb(114, 255, 173);
    border-radius: 16px;
    margin: 10px 0;
    padding: 5px 20px;
    max-width: 200px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.helpbtn {
    border: 1px solid rgb(216, 216, 216);
    border-radius: 16px;
    margin: 10px 0;
    padding: 5px 20px;
    background: white;
    max-width: 200px;
    display: flex;
    color: #141b22;
    justify-content: center;
    align-items: center;
}

.choicelabel:hover, .nextbtn:hover, .helpbtn:hover  {
    cursor: pointer;
}

.choices {
    display: flex;
    flex-flow: column;
    padding: 0 0;
}

.topic {
    padding: 10px 0 30px 0;
    border-bottom: 1px solid #141b22;
}

.topic h1 {
    margin-bottom: 5px;
}

.subject:hover {
    cursor: pointer;
}

.remove {
    padding: 0 5px 0 0;
}

.questioncontents {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

.subjects {
    display: flex;
    flex-flow: column;
    background: white;
    margin: 0 10px 10px 10px;
    padding: 20px 30px;
}

.subjects h2 {
    margin-bottom: 5px;
}

.progress {
    width: 300px;
    height: 20px;
    position: relative;
    margin-left: 10px;
    border-radius: 16px;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    padding: 20px 0px;
    background: white;
}

.header h1 {
    font-size: 2vmax;
    padding: 0 30px;
}

.choice:checked+label {
    background: #141b22;
}

@media (max-width: 740px) {
    .header {
        display: none;
    }
    .subjects {
        display: none;
    }
    .progresscontainer {
        display: none;
    }
    .question {
        min-height: 350px;
    }
    .selection{
        margin: 0;
        padding: 0 20px;
        height: 100%;
    }
    .choicelabel {
        padding: 1% 10px;
        max-width: none;
        margin: 0;
    }
    .multiplechoice {
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 100%;
    }
    .multiplechoice div {
        width: 100%;
        margin: 5px 0;
    }
    .topic {
        padding: 0;
        margin: 0;
        font-size: 2vmax;
        display: flex;
        flex-flow: column;
    }
    .topic h1 {
        margin-top: 5px;
        display: flex;
        align-items: center;
    }
    .topic p {
        font-size: 3vmax;
        padding-bottom: 10px;
    }
    .choices {
        position: relative;
        margin-bottom: 5px;
    }
    .nextbtn, .helpbtn {
        padding: 1% 10px;
        width: 100%;
        max-width: none;
        margin: 0;
        margin-top: 5px;
    }
}

@media (max-height: 375px) {
    .selection {
        min-height: 400px;
    }
}

@media (max-height: 320px) {
    .selection {
        min-height: 370px;
    }
}