.clearfix::after, .clearfix::before{
    content: " ";
    display: table;
    clear: both;
    margin: 0 auto;
    min-height: 71px;
}

.private {
    position: relative;
    height: calc((100%) - 71px);
}

.contents {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    height: calc((100%) - 71px);
    background: #f1f1f1;
}