.home {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 10px 10px;
}

.recentactivity {
    display: flex;
    width: 100%;
    flex-flow: column;
    background: #F4F6F9;
    padding: 5px 0;
    height: 100%;
    justify-content: center;
    position: relative;
}

.recentactivity h1{
    font-weight: lighter;
}

.activities {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.msg {
    box-shadow: 0 1px 1px 1px rgb(182, 181, 181);
    border-radius:10px;
    padding: 5px 5px;
    margin: 5px;
}

.star {
    color: rgb(255, 230, 0);
}

.heartcontainer {
    display: flex;
    justify-content: center;
    align-items: center;    
    background: white;
    width: 100%;
    height: 30%;
}

.trophy {
    color: orange;
}

.heart {
    color: rgb(255, 102, 102);
}

.recordcontent {
    font-size: 2vmax;
}

.number {
    padding: 0 20px;
}

#heart {
    width: 200px;
    height: 200px;
}

.userdata {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.uid {
    font-size: 4vmax;
}

.uidcontainer {
    font-size: 3vmax;
}

.activity {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    background: white;
}

.totals {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
    border: 0;
}

.totals hr {
    display: block;
    height: 100%;
    width: 2px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.questionscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
}

.donationcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
}

@media (max-width: 740px) {
    #percentage {
        opacity: 0.6;
    }
    #heart {
        width: 100px;
        height: 100px;
    }
    .home {
        padding: 0;
        position: relative;
        background: #F4F6F9;
    }
    .userdata {
        flex-flow: row nowrap;
        background: white;
        padding: 20px;
        width: 100%;
        margin-bottom: 0;
    }
    .activities {
        flex-flow: column;
        height: 100%;
    }
    .activity {
        border: none;
        border-radius: 0;
        background: white;
        margin-bottom: 5px;
        padding: 10px 0;
        width: 100%;
    }
    .recordcontent {
        padding: 0;
        font-size: 3vmax;
        display: flex;
        justify-content: center;
    }
    .recentactivity {
        background: #F4F6F9;
        padding: 0 10px;
        height: 100%;
    }
    .uidcontainer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .heartcontainer {
        height: 30%;
        padding: 10px 0;
    }
    .uid {
        font-size: 4vmax;
        font-weight: 500;
    }
    .welcome {
        font-size: 2vmax;
        opacity: 0.6;
        color: #141b22;
        padding: 10px 0;
    }
    .records {
        background: none;
        border-radius: 0;
        color: #141b22;
        font-size: 2vmax;
        opacity: 0.6;
        padding: 10px 0;
    }
    .totals {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
}

@media (max-height: 375px) {
    #heart {
        width: 75px;
        height: 75px;
    }
}