.pwreset {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 140px);
}

.pwform {
	display: flex;
	flex-flow: column;
}

.pwform span {
	margin-bottom: 5px;
}

.pwform input {
	outline: none;
	padding: 5px 0;
	font-size: 20px;
	border: 1px solid rgb(221, 221, 221);
	margin-bottom: 10px;
}

.pwheader {
	font-weight: lighter;
	margin-bottom: 20px;
}

#resetbtn {
	color: white;
	border:  none;
	padding: 20px 0;
	margin-top: 20px;
	background: #1E90FF;
}

#resetbtn:hover {
	cursor: pointer;
}

.invalid {
	background: rgb(255, 151, 54);
	text-align: center;
	color: white;
	padding: 10px 0;
}

@media (max-width: 740px) {
	#resetbtn {
		font-size: 18px;
	}
}