.clearfix::after, .clearfix::before {
    content: " ";
    display: table;
    clear: both;
    margin: 0 auto;
    min-height: 64px;
}

#Contacts {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 100vh;
    padding: 100px 200px 0 200px;
    background: #EAEAEA;
    color: #4C5C66;
}

#Contacts h1 {
    margin-top: 40px;
    font-size: 3vmax;
}

#Contacts h3 {
    margin: 20px 0;
    opacity: 0.7;
}

#form {
    display: flex;
    flex-direction: column;
}

#submitbtn {
    height: 30px;
    border: 0;
    outline: 0;
    margin-top: 20px;
    background: white;
    border-radius: 6px;
}

.cinput {
    border-radius: 6px;
    outline: 0;
    border: 0;
    height: 30px;
    margin: 10px 0;
    font-size: 1.5vmax;
}

.cmsg {
    margin-top: 20px;
    border-radius: 6px;
    outline: 0;
    border: 0;
    font-size: 1.5vmax;
}

#form {
    padding-bottom: 30px;
}

.available {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 230px;
    margin-left: 20px;
}

.contactinfo {
    display: flex;
    justify-content: flex-start;
    margin-bottom:  60px;
}

.contactinfo h4 {
    box-sizing: border-box;
    padding: 2px 0 0 20px; 
}

#c-lasth {
    box-sizing: border-box;
    padding-bottom: 50px;
}

.c-hcep {
    border: 0;
    border-top: 1px dotted #4C5C66;
    margin-bottom: 20px;
    width: 120%;
}

@media screen and (max-width: 1024px){
    #Contacts {
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
    }
    .available {
        width: auto;
    }
}

@media screen and (max-width: 414px){
    #c-lasth {
        padding: 0;
    }
    .available {
        display: none;
    }
    #submitbtn {
        height: 50px;
    }
}

@media screen and (max-width: 320px){
    #c-lasth {
        font-size: 2vmax;
    }
}