html,body,div,ul,hr,hd,h1,h2,h3,h4,h5,h6
ul,ol,li,a,span,p {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
    font-family: inherit;
}

li {
    list-style-type: none;
}

html, body {
    color: #141b22;
    position: relative;
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-family: 'Product Sans' , 'Roboto' , apple sd gothic neo, -apple-system, sans-serif, system-ui, Arial, Georgia, serif;
}