.welcome {
    position: relative;
    height: 700px;
    color: white;
}

.feature {
    background-image: url("/static/background.jpg");
}
/* 
.featuretwo {
    background-image: url("/static/hope.jpg");
}

.featurethree {
    background-image: url("/static/kids.jpg");
} */

.parallex {
    -webkit-background-attachment: fixed;
    -webkit-background-position: center;
    -webkit-background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-attachment: fixed;
    -moz-background-position: center;
    -moz-background-repeat: no-repeat;
    -moz-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.aboutus {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 4vmax;
    z-index: 100;
}

.pdescription {
    font-size: 2vmax;
    opacity: 0.7;
}

.jlink {
    border: 1px solid white;
    border-radius: 26px;
    padding: 2px 25px;
    transform: translateY(70px);
    padding-top: 6px;
    font-size: 2vmax;
    overflow: hidden;
    transition: all 0.3 ease;
}

.jlink:hover {
    cursor: pointer;
}

.pselectors {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 20px 20px 0 0;
}

.pselectors i {
    margin: 10px 0;
    opacity: 0.5;
}

.pselectors i:hover {
    cursor: pointer;
}

.psactive {
    color: #007BFE;
}

@media (max-width: 500px) {
    .parallex {
        background: none;
    }
    .parallex::after {
        position: fixed;
        content: " ";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        -webkit-background-size: cover;
        -webkit-background-position: 50%;
        -webkit-background-image: url("/static/background.jpg");
        -moz-background-size: cover;
        -moz-background-position: 50%;
        -moz-background-image: url("/static/background.jpg");
        background-size: cover;
        background-position: 50%;
        background-image: url("/static/background.jpg");
    }
}