.latestnews {
    display: flex;
    flex-flow: column;
    padding: 100px 0;
}

.latestnews h1 {
    text-align: center;
    margin-bottom: 40px;
}

.newscontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}

.newscontainer i{
    font-size: 48px;
    padding: 0 20px;
}

.newscontainer i:hover{
    cursor: pointer;
}

.latestmodules::-webkit-scrollbar {
    display: none;
}

.latestmodules {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 30px 0;
    position: relative;
}

.description {
    border-bottom: 1px solid rgb(235, 235, 235);
    margin: 10px;
    padding: 15px 10px;
    line-height:30px;
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    font-style: italic;
}

.origin {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
}

.origin span {
    opacity: 0.4;
}

.newsimg {
    border-radius: 100%;
    width: 64px;
    height: 64px;
    margin: 0 20px 0 0;
    object-fit: contain;
}

.newscontent {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 30px 20px 30px;
}

.news {
    display:inline-block;
    text-align:center;
    background: white;
    transition: transform 0.2s linear, box-shadow 0.2s linear;
    position: relative;
    box-shadow: 0 1px 10px 0px #cccccc;
    border-radius: 5px;
}

.news:hover {
    transform: translateY(-20px);
}

.newspad {
    padding: 0 35px;
}

@media (max-width: 600px) {
    .newscontainer i {
        display: none;
    }
}

@media (max-width: 370px) {
    .news {
        max-width: 200px;
        line-height:40px;
    }
}