.returning {
    display: flex;
    flex-flow: column;
    padding: 20px 10% 20px 10%;
    font-weight: lighter;
    width: 100%;
}

.returning a {
    text-align: center;
    margin: 10px 0;
    width: 100%;
}

.headers {
    font-weight: lighter;
    font-size: 3vmax;
}

.inputs {
    border: 0;
    outline: 0;
    width: 100%;
    border-bottom: 1px solid #969696;
    padding-bottom: 10px;
    font-size: 1vmax;
    margin: 5px 0;
}

.sbtn {
    border: 0;
    outline: 0;
    background: #1E90FF;
    color: white;
    width: 100%;
    padding: 10px 0;
    font-size: 1vmax;
}

.sbtn:hover {
    cursor: pointer;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #f7e9e9;
}

.warning {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #ffffcc;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #e9f7f1;
}

.signupbtn {
    text-align: center;
    margin: 10px 0;
    display: none;
    color: #007BFE;
    text-decoration: underline;
}

.signupbtn:hover {
    cursor: pointer;
}

@media (max-width: 740px) {
    .returning *{
        margin: 5px 0;
    }
    .returning {
        padding: 0 10%;
    }
    .signupbtn {
        display: block;
        font-size: 2vmax;
        margin: 20px 0;
    }
    .sbtn {
        font-size: 2vmax;
        margin: 10px 0 5px 0;
    }
    .headers {
        text-align: center;
    }
    .returning span, .inputs {
        font-size: 16px;
    }
}