.contacts {
    display: flex;
    flex-flow: column;
    padding: 2% 20%;
    color: #141b22;
    opacity: 0.7;
    line-height: 40px;
}

.header {
    font-size: 4vmax;
    margin-bottom: 30px;
}

.company {
    margin-bottom: 10px;
}

.location {
    margin-top: 10px;
}

.email {
    margin-top: 10px;
    display: flex;
    flex-flow: column;
}

.email input, .email textarea{
    outline: none;
    border: 1px solid #dddddd;
    font-size: 1vmax;
    padding: 10px 10px;
}

.sendbtn {
    background: white;
    width: 61%;
    min-width: 320px;
    margin-top: 10px;
}

.sendbtn:hover {
    cursor: pointer;
}

.sendbtn:active {
    background: #007BFE;
    color: white;
}

.infos {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}

.infos input {
    width: 30%;
    min-width: 155px;
    margin-right: 10px;
}

.email textarea {
    width: 61%;
    min-width: 320px;
}

@media (max-width: 740px) {
    .contacts {
        padding: 2% 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .email {
        justify-content: center;
        align-items: center;
    }
    .infos {
        justify-content: space-between;
    }
    .infos input {
        min-width: 135px;
    }
    .email p {
        width: 90%;
    }
    #name {
        margin-left: 1%;
    }
}