.chatbox {
	background: white;
	width: 0;
	transition: all 0.4s ease;
	overflow: hidden;
	position: relative;
}

.room {
	height: 100%;
}

.activechatbox {
	background: #141b22;
	width: 250px;
	max-width: 250px;
	transition: all 0.4s ease;
	position: relative;
	max-height: 100%;
	overflow-y: scroll;
}

#messages {
	height: 100%;
	max-height: calc(100% - 29px);
	overflow-y: scroll;
	word-break: break-all;
}

.inputfields {
	padding-top: 5px;
	display: flex;
	flex-flow: row nowrap;
}

#msg {
	padding: 5px 2px;
	outline: none;
	border: 1px solid rgb(167, 167, 167);
	border-right: 0;
	width: 100%;
}

#sendbtn {
	padding: 5px 5px;
	border: none;
	outline: none;
	color: white;
	background: #1E90FF;
}

.textcontainer {
	margin: 0 5px;
	padding: 0 5px;
	border: none;
}

.selfmsgcontainer {
	background: #1E90FF;
	color: white;
	border-radius: 8px;
	display: flex;
	flex-flow: column;
	margin: 5px 0;
	position: relative;
}

.msgcontainer {
	background: rgb(192, 192, 192);
	color: white;
	border-radius: 8px;
	display: flex;
	flex-flow: column;
	margin: 5px 0;
	position: relative;
}

.servermsgcontainer {
	background: rgb(255, 207, 75);
	color: white;
	border-radius: 8px;
	display: flex;
	flex-flow: column;
	margin: 5px 0;
	position: relative;
}

.systemmsgcontainer {
	background: rgb(255, 137, 137);
	color: white;
	border-radius: 8px;
	display: flex;
	flex-flow: column;
	margin: 5px 0;
	position: relative;
}



.name {
	margin-left: 5px;
}