#Contacts {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 100vh;
    padding: 100px 200px 0 200px;
    background: #EAEAEA;
    color: #4C5C66;
}

#Contacts h1 {
    font-size: 3vmax;
}

#Contacts h3 {
    margin: 20px 0;
    opacity: 0.7;
}

#form {
    display: flex;
    flex-direction: column;
}

#submit-btn {
    height: 30px;
    border: 0;
    outline: 0;
    margin-top: 20px;
    background: white;
    border-radius: 6px;
}

.c-input {
    border-radius: 6px;
    outline: 0;
    border: 0;
    height: 30px;
    margin: 10px 0;
    font-size: 1.5vmax;
}

.c-msg {
    margin-top: 20px;
    border-radius: 6px;
    outline: 0;
    border: 0;
    font-size: 1.5vmax;
}

.available {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 230px;
}

.contactinfo {
    display: flex;
    justify-content: flex-start;
    margin-bottom:  60px;
}

.contactinfo h4 {
    box-sizing: border-box;
    padding: 2px 0 0 20px; 
}

#c-lasth {
    box-sizing: border-box;
    padding-bottom: 50px;
}

.c-sep {
    width: 40px;
    border: 0;
    border-top: 1px dotted #4C5C66;
    transform: rotate(90deg) translateX(-30px) translateY(10px);
}
.c-hcep {
    border: 0;
    border-top: 1px dotted #4C5C66;
    margin-bottom: 20px;
    width: 120%;
}

@media screen and (max-width: 1024px){
    #Contacts {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1003px) {
    #Contacts {
        justify-content: center;
    }
    .available {
        display: none;
    }
}