#dashboard {
    display: flex;
    height: 100vh;
    color: black;
    position: relative;
}

.d-menu {
    background: #2E3D51;
    height: 100%;
    width: 250px;
    position: relative;
}

.d-content {
    display: flex;
    width: 100%;
}

#avatar {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 15px;
}

.d-menu hr {
    width: 50%;
    margin-left: 25%;
    border: 0.5px solid #ffffff;
}

.statistics {
    box-sizing: inherit;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.d-menu-selections {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 30px;
}

.d-selections {
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.d-selections:hover {
    color: #69cabb;
}

.d-logout {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0;
    padding-top: 30px;
    background: none;
    color: white;
    border: 0;
    outline: 0;
    font-size: 1em;
}

.d-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.d-header h1 {
    font-size: 5em;
}

#d-test {
    display: block;
    width: 100%;
}

#d-fun {
    display: block;
}

@media screen and (max-width: 414px) {
    .d-menu {
        
    }
    .d-content h1 {
        font-size: 20px;
    }
}