/****************************************************************************
 * 
 *->Name: style.css 
 *->Purpose: Declare all styles for the Login component in Login.js
 *
*****************************************************************************/
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
    display: block;
    height: 140px;
}
.formcontainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.forms {
    margin-top: 5%;
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 5% 0;
    border: 1px solid #141b2244;
    border-radius: 15px;
}

@media (max-width: 740px) {
    hr {
        display: none;
    }

    .forms {
        width: 100%;
        border: none;
    }
}