/****************************************************************************
 * 
 *->Name: style.css 
 *->Purpose: Declare all styles for the Login component in Login.js
 *
*****************************************************************************/

.logincontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    background: white;
    padding: 200px 0;
}

.authing {
    width: 100%;
    text-align: center;
}

.clearfix::after, .clearfix::before {
    content: " ";
    display: table;
    clear: both;
    margin: 0 auto;
    min-height: 64px;
}