.clear::after, .clear::before {
    content: " ";
    display: table;
    clear: both;
    margin: 0 auto;
    min-height: 64px;
}

.mission {
    padding: 0 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 40px;
    background: white;
}

.mission h1 {
    font-weight: normal;
}

.mcells {
    max-width: 250px;
    font-weight: lighter;
}

.supported {
    margin-top: 10px;
    padding-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: white;
}

.helpingtitle {
    opacity: 0.6;
    width: 100%;
    text-align: center;
}

.charities {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    padding: 30px 30px 50px 30px;
    white-space: nowrap;
    justify-content: center;
}

.charity {
    margin: 10px 30px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    opacity: 0.3;
    transition: all 1s ease;
}

.charity:hover {
    color: #141b22;
    opacity: 1;
}