.testbanner {
    background: #749FF2;
    justify-content: center;
    display: flex;
    padding: 5px 0;
}

.bannerimg {
    height: 35px;
    width: 35px;
}

.bannertext {
    font-weight: lighter;
    padding: 10px;
    color: white;
}

@media (max-width: 500px) {
    .testbanner {
        font-size: 2vmax;
    }
}


@media (max-width: 320px) {
    .testbanner {
        font-size: 10px;
    }
}