/****************************************************************************
 * 
 *->Name: style.css 
 *->Purpose: Declare all styles for the Nav component in Nav.js
 *
*****************************************************************************/

.navagations {
    display: flex;
    align-items: flex-end;
}
.navagation {
    float: left;
    list-style: none;
    padding: 0 20px;
}

.testbanner {
    background: #749FF2;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: center;
    display: flex;
    padding: 5px 0;
}

.cat {
    height: 35px;
    width: 35px;
}

.bannertext {
    font-weight: lighter;
    padding: 10px;
}

.head {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.navcontainer {
    box-sizing: border-box;
    display: flex;
    background: white;
    color: #707070;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 30px 0;
}

#logo {
    height: 28px;
    width: 28px; 
}