.settings {
    overflow-y: scroll;
}
.initials {
    font-size: 45px;
}
.settings {
    display: flex;
    flex-flow: column;
    padding: 0 40px;
    width: 100%;
}
.initials {
    align-self: center;
}
.fieldhead {
    margin-bottom: 5px;
}

.level {
    align-self: center;
    margin-bottom: 15px;
}
.fields {
    display: flex;
    flex-flow: column;
    margin-bottom: 25px;
}
.fieldinput {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding: 5px 0;
    font-size: 16px;
}
#fname, #lname, #charity {
    font-weight: lighter;
}
.pwfield, .gamefield, .infofield, .themefield {
    flex-flow: row nowrap;
}
.pwfield, .gamefield, .infofield, .themefield {
    justify-content: space-between;
}
.pwreset, .restartbtn, .resetbtn, .themebtn {
    color: #1E90FF;
}
.pwreset:hover, .savebtn:hover, .restartbtn, .resetbtn, .themebtn {
    cursor: pointer;
}

#dark {
    color: #141b22;
}

#light {
    color: white;
}

.themebtncont {
    float: left;
}

.savebtn {
    background: #1E90FF;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}
.savebtn {
    background: #1E90FF;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}
#token, #charity {
    border: none;
}

.darkfields {
    background: rgb(41, 50, 61);
}
@media (min-width: 741px) {
    .savebtn {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
@media (max-width: 740px) {
    .initials {
        font-size: 30px;
    }
    .fieldhead {
        font-size: 15px;
    }
    .level {
        font-size: 10px;
    }
    .pwreset, .restartbtn, .resetbtn {
        color: #1E90FF;
        font-size: 15px;
    }
    .savebtn {
        font-size: 15px;
    }
}